@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&family=Satisfy&display=swap');
@import 'variables.scss';
@import 'reset.scss';
@import 'ourstory.scss';


body {
    font-size: $text-normal;
    color: $text-color;
    font-family: $fontFamily-normal;
}

h1, h2, h3, h4 {
    font-family: $fontFamily-satisfy;
}

h1 {
    font-size: $big-title;
    color: white;
    text-shadow: 0px 3px 6px #36270E93;
}
h2 {
    font-size: $h2-title;
    padding-bottom: 2.5rem;
}
h3 {
    font-size: $h3-title;
    padding-bottom: 2.5rem;
}

a {
    text-decoration: none;
}

p {
    font-weight: lighter;
}
strong {
    font-size: 2rem;
    color: white;
    text-shadow: 0px 3px 6px #36270E93;
}

input, textarea {
    width: 100%;
    padding: 2rem 1.5rem 2rem 3rem;
    border-radius: 10rem;
    border: 1px solid #525252;
    font-family: $fontFamily-normal;
    box-shadow: 0px 3px 6px #00000052;
    width: 40rem;
    outline: none;
}

textarea {
    border-radius: 3rem;
    margin-bottom: 2rem;
    resize: none;
}

button {
    border: none;
    font-size: $text-normal;
    cursor: pointer;
}
.bd-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.button {
    display: inline-block;
    background-color: $backg-primary;
    margin-top: 2.3rem;
    padding: 1.5rem 4rem;
    color: white;
    font-weight: lighter;
    border-radius: 10rem;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
}

.section-title-center, .para-center {
    text-align: center;
}


.bd-container {
    max-width: 968px;
    width: calc(100% - 3rem);
    margin: 0 auto;
}

.section {
    padding: 7rem 0 5rem;
}

.bold {
    font-weight: bold;
}
.blue-color {
    color: #4379A8;
}
.font-satisfy {
    font-family: $fontFamily-satisfy;
}
// .fadein {
//     animation: fadeIn 5s;
//     -webkit-animation: fadeIn 5s;
// }
.relief-bg {
    background: transparent linear-gradient(180deg, #CFE5F8 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;    

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



//Header Fixed
.header {
    position: fixed;
    width: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: 1000;
}
.scroll-header {
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
    transition: 1s;

}
//NAV
.nav {
    font-family: $fontFamily-satisfy;
    justify-content: space-between;
    padding: 3.5rem 0 2.5rem;

    &__link {
        margin-left: 2.2rem;
        color: $text-color;
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
        &:hover {
            color: black;
        }

    }
}

//BACKGROUND HEADER

.bg-header {
    position: relative;
    padding: 35.2rem 0 15rem 4rem;
    overflow: hidden;

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        object-fit: cover;
    }

    
    &__content {
        position: relative;
        z-index: 10;
    }

}

.about {

    &__container {
        justify-content: space-between;
    }

    &__content {
        margin-top: 3.5rem;
        max-width: 53rem;
    }

    &__button {
        text-align: center;
    }

    &__figure {
        max-width: 25rem;
    }

}

//Online
.online {
    text-align: center;

    &__container {
        justify-content: space-around;
        align-items: flex-end;
    }


    &__studio, &__jane {
        max-width: 38rem;
    }

    &__text {
        margin-bottom: 2rem;
    }
}

//Contact 
.contact {
    text-align: left;

    &__form {
        justify-content: space-between;
        text-align: right;
    }

    &__formgroup {
        margin-top: 2.5rem;
    }

    &__figure {
        max-width: 54rem;
    }

}

//FOOTER
.footer {
    background: transparent linear-gradient(180deg, #525252 0%, #101010 100%) 0% 0% no-repeat padding-box;
    color: white;
    padding-top: 4rem;

    &__social {
        justify-content: space-between;
        align-items: flex-end;
        max-width: 57rem;
    }

    &__company, &__city {
        margin-bottom: 1rem;
    }
    &__mail {
        color: white;
    }

    &__bx {
        font-size: 4rem;
        color: white;
        margin-right: 1rem;
    }
}
.nav--footer {
    text-align: center;
}
.nav__link-color {
    color: white;
}