//Typo
$big-title: 6rem;
$strong-title: 3.5rem;
$h2-title: 3rem;
$h3-title: 2.5rem;
$h4-title: 4.5rem;
$text-normal: 1.5rem;
// $text-button: 2.5rem;

//Color
$text-color: rgba(82, 82, 82, 1);
$backg-primary: rgba(62, 105, 83, 1);
$titleColorBlue: #4379A8;

//Fonts
$fontFamily-satisfy: 'Satisfy', cursive;
$fontFamily-normal: 'Poppins', sans-serif;
$fontWeight-medium: 600;
$fontWeight-light: 300;
