@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&family=Satisfy&display=swap");
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button, input, select {
  margin: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

*, *::before, *::after {
  box-sizing: inherit; }

img, video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

.story {
  background-image: url("../../img/woman-nature.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  padding: 27rem 5rem; }
  .story__container {
    text-align: center; }

.beauty__container {
  justify-content: space-between;
  padding-right: 10rem; }
.beauty__content {
  max-width: 32rem; }
.beauty__para {
  margin-bottom: 5rem; }
.beauty__figure {
  position: relative;
  max-width: 25rem; }
  .beauty__figure::after {
    position: absolute;
    content: url(../../img/bubble_3.svg);
    top: 7rem;
    left: 8rem;
    z-index: -1; }
  .beauty__figure::before {
    position: absolute;
    content: '';
    background: transparent linear-gradient(126deg, #A8C6E0 0%, #FCFDFE 90%, #FFFFFF 100%);
    top: 16rem;
    left: 9rem;
    padding: 10rem;
    z-index: -1;
    border-radius: 10rem;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem; }

.message {
  text-align: center; }
  .message__content {
    position: relative;
    padding-bottom: 40rem; }
  .message__bubble-one, .message__bubble-two, .message__bubble-three, .message__bubble-four {
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%; }
  .message__bubble-one, .message__bubble-three {
    background: #FFFFFF;
    box-shadow: 0px 3px 6px #7BA2C4; }
  .message__bubble-two, .message__bubble-four {
    background: transparent linear-gradient(123deg, #CFE5F8 0%, #FFFFFF 100%); }
  .message__bubble-one, .message__bubble-two {
    padding: 7rem 3rem;
    max-width: 23rem; }
  .message__bubble-one {
    top: 14rem;
    left: 6rem; }
  .message__bubble-two {
    top: 2rem;
    left: 20rem; }
  .message__bubble-three {
    top: 4rem;
    left: 41rem;
    width: 27rem;
    padding: 6rem 4rem; }
  .message__bubble-four {
    top: 18rem;
    left: 59rem;
    max-width: 24rem;
    padding: 7rem 5rem; }

.keeping__container {
  justify-content: space-between;
  padding-right: 10rem;
  margin-top: 15rem; }
.keeping__title, .keeping__lil-title {
  color: #4379A8; }
.keeping__lil-title {
  font-family: "Poppins", sans-serif;
  font-weight: 300; }
.keeping__content-studio {
  max-width: 32rem; }
.keeping__content-studio-bis {
  text-align: right; }
.keeping__figure {
  position: relative;
  max-width: 25rem; }
.keeping__figure-faces::after {
  position: absolute;
  content: url(../../img/bubble_3.svg);
  top: -3rem;
  left: 6rem;
  z-index: -1; }
.keeping__figure-faces::before {
  position: absolute;
  content: '';
  background: transparent linear-gradient(126deg, #A8C6E0 0%, #FCFDFE 90%, #FFFFFF 100%);
  top: -8rem;
  left: 6rem;
  padding: 9rem;
  z-index: -1;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem; }
.keeping__figure-grapes::after {
  position: absolute;
  content: url(../../img/bubble_3.svg);
  top: 7rem;
  left: 8rem;
  z-index: -1; }
.keeping__figure-grapes::before {
  position: absolute;
  content: '';
  background: transparent linear-gradient(126deg, #A8C6E0 0%, #FCFDFE 90%, #FFFFFF 100%);
  top: 16rem;
  left: 10rem;
  padding: 9rem;
  z-index: -1;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem; }
.keeping__last-para {
  width: 55rem;
  margin: 5rem auto 0;
  text-align: center; }

body {
  font-size: 1.5rem;
  color: #525252;
  font-family: "Poppins", sans-serif; }

h1, h2, h3, h4 {
  font-family: "Satisfy", cursive; }

h1 {
  font-size: 6rem;
  color: white;
  text-shadow: 0px 3px 6px #36270E93; }

h2 {
  font-size: 3rem;
  padding-bottom: 2.5rem; }

h3 {
  font-size: 2.5rem;
  padding-bottom: 2.5rem; }

a {
  text-decoration: none; }

p {
  font-weight: lighter; }

strong {
  font-size: 2rem;
  color: white;
  text-shadow: 0px 3px 6px #36270E93; }

input, textarea {
  width: 100%;
  padding: 2rem 1.5rem 2rem 3rem;
  border-radius: 10rem;
  border: 1px solid #525252;
  font-family: "Poppins", sans-serif;
  box-shadow: 0px 3px 6px #00000052;
  width: 40rem;
  outline: none; }

textarea {
  border-radius: 3rem;
  margin-bottom: 2rem;
  resize: none; }

button {
  border: none;
  font-size: 1.5rem;
  cursor: pointer; }

.bd-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; }

.button {
  display: inline-block;
  background-color: #3e6953;
  margin-top: 2.3rem;
  padding: 1.5rem 4rem;
  color: white;
  font-weight: lighter;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem; }

.section-title-center, .para-center {
  text-align: center; }

.bd-container {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin: 0 auto; }

.section {
  padding: 7rem 0 5rem; }

.bold {
  font-weight: bold; }

.blue-color {
  color: #4379A8; }

.font-satisfy {
  font-family: "Satisfy", cursive; }

.relief-bg {
  background: transparent linear-gradient(180deg, #CFE5F8 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.header {
  position: fixed;
  width: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: 1000; }

.scroll-header {
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  transition: 1s; }

.nav {
  font-family: "Satisfy", cursive;
  justify-content: space-between;
  padding: 3.5rem 0 2.5rem; }
  .nav__link {
    margin-left: 2.2rem;
    color: #525252;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s; }
    .nav__link:hover {
      color: black; }

.bg-header {
  position: relative;
  padding: 35.2rem 0 15rem 4rem;
  overflow: hidden; }
  .bg-header video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover; }
  .bg-header__content {
    position: relative;
    z-index: 10; }

.about__container {
  justify-content: space-between; }
.about__content {
  margin-top: 3.5rem;
  max-width: 53rem; }
.about__button {
  text-align: center; }
.about__figure {
  max-width: 25rem; }

.online {
  text-align: center; }
  .online__container {
    justify-content: space-around;
    align-items: flex-end; }
  .online__studio, .online__jane {
    max-width: 38rem; }
  .online__text {
    margin-bottom: 2rem; }

.contact {
  text-align: left; }
  .contact__form {
    justify-content: space-between;
    text-align: right; }
  .contact__formgroup {
    margin-top: 2.5rem; }
  .contact__figure {
    max-width: 54rem; }

.footer {
  background: transparent linear-gradient(180deg, #525252 0%, #101010 100%) 0% 0% no-repeat padding-box;
  color: white;
  padding-top: 4rem; }
  .footer__social {
    justify-content: space-between;
    align-items: flex-end;
    max-width: 57rem; }
  .footer__company, .footer__city {
    margin-bottom: 1rem; }
  .footer__mail {
    color: white; }
  .footer__bx {
    font-size: 4rem;
    color: white;
    margin-right: 1rem; }

.nav--footer {
  text-align: center; }

.nav__link-color {
  color: white; }

/*# sourceMappingURL=style.css.map */
